<div class="container">

  <h1> <%= @cocktail.name %></h1>

  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li> <%= "#{dose.ingredient.name} : #{dose.description}" %> <%= link_to 'X', dose_path(dose), method: :delete %> </li>
    <% end %>
  </ul>

</div>

<div class="container">
  <%= link_to 'Add an ingredient', new_cocktail_dose_path(@cocktail) %>
</div>

<div class="container">
  <% if @cocktail.photo.attached? == false %>
    <%= image_tag "https://source.unsplash.com/featured/300x400/?#{@cocktail.name}" %>
  <% else %>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</div>

<div class="container">
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :photo, as: :file %>
    <div>
      <%= f.submit class: 'btn btn-primary mb-2 ml-2 rounded-pill' %>
    </div>
  <% end %>
</div>
